/* You can add global styles to this file, and also import other style files */

// /* Import Bootstrap */
// @import '~bootstrap/scss/bootstrap';

/* Import Component Styles */
@import './components/main-layout.scss';
@import './components/employee-add.scss';

/* Import Page Styles */
@import './pages/home.scss';
@import './pages/login.scss';
@import './pages/about-us.scss';
@import './pages/contact.scss';
@import './pages/dashboard.scss';
@import './pages/employee-list.scss';
